$backgroundColor: #73442D;
$headerBackgroundColor: #EEC6D5;
$headerTitleColor: #120373;
$sectionImageBackgroundColor: #FFE69B;
$sectionOddBackgroundColor: #FFE6C1;
$sectionEvenBackgroundColor: #FFB691;

$figcaptionFontColor: #120373;
$sectionBorderColor: #FFB001;
$sectionTitleColor: #120373;

$footerBackgroundColor: #BBB691;