$backgroundColor: #73442D;
$headerBackgroundColor: #FFDC63;
$sectionImageBackgroundColor: #FFE69B;
$sectionBackgroundColor: #FFE6C1;

$figcaptionFontColor: #120373;
$sectionBorderColor: #FFB001;
$sectionTitleColor: #120373;
